<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/js/stylesheet.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  {{#each jsscripts}}
  <script src="/static/js/{{this}}"></script>
  {{/each}}
	<title>IT Inventory</title>
	
</head>
<body>
	{{{body}}}
</body>

</html>