  <h1>IT Inventory - Index</h1>

    <div>
      <a href="/laptops">Laptops</a>
      - Add, remove, edit and search laptops
    </div>

    <div>
      <a href="/laptop_docs">Laptop Troubleshooting Documentation</a>
      - Add, remove, edit and search laptop toubleshooting documentation
    </div>

    <div>
      <a href="/location">Locations</a>
      - Add and remove locations
    </div>

    <div>
      <a href="/peripherals">Peripherals</a>
      - Add, remove, and edit peripherals and assign/unassign users to peripherals
    </div>

    <div>
      <a href="/users">Users</a>
      - Add, remove, edit and search users
    </div>    

	<div>
      <a href="/laptop_laptopdocs">Document to Laptop Relationship Management</a>
      - Relate documents to laptops
    </div>  
	
	<!--  rolled into other pages
	
    <div>
      <a href="/laptopManagement">Laptop Management</a>
      - Assign/unassign users to laptops
    </div>  
-->